<div id="header">
    <div class="">
        <nav class="navbar navbar-expand-lg bg-light">
            <a class="navbar-brand" href="#">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li *ngFor="let category of categories" class="nav-item">
                        <a class="nav-link" href="#">{{category.name}}</a>
                    </li>
                </ul>
                <div id="card">
                    <a href=""><i class="fa fa-shopping-bag fa-2x"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>