<div id="basket">
    <div class="container">
        <div id="header">
            <h1>
                {{header}}
            </h1>
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div id="products">

            <div id="table">  
                <tr class="row">  
                   <th class="col-6">Product</th>  
                   <th class="col-2">Price</th>
                   <th class="col-2">Quantity</th> 
                   <th class="col-2">Total</th>   
                </tr>  
                <tr class="row">  
                   <td class="col-6"><img style="width: 180px;height: 180px;"  src="https://images.unsplash.com/photo-1523049673857-eb18f1d7b578?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="">
                 <p id="productName">Avacado</p> 
                </td>  
                   
                   <td class="col-2">9.99 AZN</td> 
                   <td class="col-2">image</td>  
                   <td class="col-2">9.99AZN</td>  

                </tr>  
            </div>
            <div id="total" class="row">
                <p >Total:</p> <h1>9.99AZN</h1> 
            </div>
        </div>
        <form [formGroup]="paymentForm">
            <div id="invoice">
                <h2>Invoice adress</h2>
                <div class="row">
                    <div class="col">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" formControlName="firstName"
                            class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm .get('firstName').hasError('required') && paymentForm.get('firstName').dirty">
                            First Name is required!</div>
                    </div>
                    <div class="col">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" formControlName="lastName" class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm.get('lastName').hasError('required') && paymentForm.get('lastName').dirty">
                            Last Name is required!</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" formControlName="email" class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm.get('email').hasError('required') && paymentForm.get('email').dirty">
                            Email adress is required!</div>
                    </div>
                    <div class="col">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
                            class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm.get('phoneNumber').hasError('required') && paymentForm.get('phoneNumber').dirty">
                            Phone Number is required!</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-8">
                        <label for="adress">Adress</label>
                        <input type="text" id="adress" name="adress" formControlName="adress" class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm.get('adress').hasError('required') && paymentForm.get('adress').dirty">
                            Adress is required!</div>
                    </div>
                    <div class="col-4">
                        <label for="apt">Apt,suit,etc</label>
                        <input type="text" id="apt" name="apt" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="city">City</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        <label for="poscode">Poscode</label>
                        <input type="text" id="poscode" name="poscode" class="form-control">
                    </div>
                </div>
            </div>
            <div id="payment">
                <div>
                    <h2>Payment method</h2>
                </div>
                <div id="logo">
                    <img src="https://pluspng.com/img-png/mastercard-hd-png-png-pluspng-com-mastercard-png-2219.png"
                        alt="">
                </div>
                <div class="row">
                    <div class="col">
                        <label for="nameOnCard">Name On Card</label>
                        <input type="text" id="nameOnCard" name="nameOnCard" formControlName="nameOnCard"
                            class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm.get('nameOnCard').hasError('required') && paymentForm.get('nameOnCard').dirty">
                            Name On Card is required!</div>
                    </div>
                    <div class="col">
                        <div >
                            <label for="cardNumber">Card Number</label>
                            <input id="cardNumber" formControlName="cardNumber" type="tel" class="form-control"
                                placeholder="0000 0000 0000 0000"  #ccNumber
                                (keyup)="creditCardNumberSpacing()">
                            <div class="help-block"
                                *ngIf="paymentForm.get('cardNumber').errors &&
                                  (paymentForm.get('cardNumber').touched || paymentForm.get('cardNumber').dirty)">
                                <div class="alert alert-danger"
                                    *ngIf="paymentForm.get('cardNumber').errors.required">
                                    Card Number is required
                                </div>
                                <div class="alert alert-primary"
                                    *ngIf="paymentForm.get('cardNumber').errors.minlength || paymentForm.get('cardNumber').errors.maxlength">
                                    Card Number must be 16 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="text" id="expiry-date" name="expiryDate" maxlength="5" mask='99/99'  formControlName="expiryDate" class="form-control">
                        <div class="alert alert-danger"
                            *ngIf="paymentForm.get('expiryDate').hasError('required') && paymentForm.get('expiryDate').dirty">
                            Expiry Date is required!</div>
                        
                    </div>
                    <div class="col">
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col" >   
                          <button id="btn" class=" btn btn-success">Make Payment</button>
                    </div>
                </div>
                <br>
            </div>
        </form>
    </div>
    <div id="footer">
        <div class="row text-center">
            <div class="col">
                <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
               <p>(012) 345678901 <br>
                (012) 345678901
            </p> 
            </div>
            <div class="col">
                <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>
                <p>Azerbaijan,Baku.</p>

            </div>
            <div class="col">
                <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                <p>onlinestore@example.com <br>
                support@onlinestore.com</p>
            </div>
        </div>
    </div>
</div>