<div class="container">
    <div id="header">
        <h1>
            {{header}}
        </h1>
        <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div id="products">

        <div>

        </div>
    </div>
    <div id="invoice">
        <h2>Invoice adress</h2>
        <form formGroup="buyProductForm">
            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email Adress">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Adress">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Apt,suit,etc">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Postal Code">
                </div>
            </div>
        
    </div>
    <div id="payment">
        <div>
            <h2>Payment method</h2>
        </div>
        <div id="logo">
            <img src="https://pluspng.com/img-png/mastercard-hd-png-png-pluspng-com-mastercard-png-2219.png" alt="">
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Name on Card">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Card Number">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Expiry Month">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Expiry year">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="CVV">
            </div>
        </div>
        <br>
    </div>
</form>

    <div id="footer">
        <div class="row text-center">
            <div class="col">
                <i class="fa fa-phone fa-4x" aria-hidden="true"></i>

            </div>
            <div class="col">
                <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>

            </div>
            <div class="col">
                <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>

            </div>
        </div>
    </div>
</div>