#basket{
    overflow-x:hidden;
}
#header{
    padding: 70px 0;
}
h1{
    font-weight: 700;
    font-size: 42px;;   
}
h2{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.about{
   font-size: 20px;
   font-weight: 200;
  
}

#products{
    padding: 50px 0;
    
}

#table, th  {  
    border-bottom: 1px solid grey;  
  /*  border-top: 1px solid grey; */
    border-collapse: collapse;  
    padding: 25px;  
    font-size: 19px;
 }  
 #table img{
     margin-left: -15px;
 }
 #table td{
     margin-top: 30px;
     padding-bottom: 170px;
     font-size: 18px;
 }
   
 #table tr:nth-child(odd) {  
    background-color: #f2f2f2;  
 }  
 #productName{
     margin-left: 200px;
     margin-top: -180px;
 }
#total{
    margin-top: 20px;
    float: right;
}
#total p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
#total h1{
    color: #8cba51;
}
#invoice{
    padding: 50px 0;
}
.form-control{
    height: 50px;
    
}
img{
    width: 230px;
    height: 50px;
}

#btn{
float: right;
margin-top: 30px;
padding: 12px 40px;
font-size: 18px;
background-color: #8cba51; 
border: 2px solid #8cba51;
}
#footer{
    padding: 50px 0 35px 0;
    background-color: #212121;
}
#footer p{
    margin-top: 15px;
    color: grey;
    font-family: sans-serif;
}
.fa{
    color: lightgray;
}