.card{
    border-radius: 25px;
    
    margin: auto;
    margin-top: 40px;
    
}
img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 250px;
}
button{
    margin-left: 23px;
    border-radius: 20px;
    padding:8px 25px 8px 25px;
    font-weight: 500;
}