
#search{
    height: 52px;
   /* width: 600px;
   /* margin-left: 195px; */
    margin-top: 10px;
    margin-bottom: -35px;
   
}
.card{
    border-radius: 25px;
    margin:0 auto;
    margin-top: 40px;
    padding: 0;
    
    
}
.card-text{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 230px;
}
#addToBasket{
    /*border: 2px solid #8cba51; */
    font-size: 13px;
    margin-left: 6px;
    color: white;
    padding:9px 55px 9px 55px;
    font-weight: 500; 
    background-color: #8cba51; 
    
}
.kg{
    margin-top: 10px;
}
.NumberSpinner{
    margin-top:-55px ;
    margin-bottom: 20px;
    width: 150px; 
    margin-left: 51px !important;
    border-radius: 20px;

   
}
.wrapper{
    background-color: #f8f9fa;
    height: initial;
 
}
#pagination{
    padding-bottom: 12px;
    margin-top: 50px;
    margin-left: 390px;
    
    
}